.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





/* css para el formulario  */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
  flex-direction: column;
}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
}

.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;

}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fdfbfb;
  color: #555;
  margin-left: 10px;
  margin-top: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}


/* css del label */
.label-box {  
  display: flex;
  width: 433px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  background-color: #f2f2f2;
  color: #555;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}